root {
    font-size: 20px;
}
body{
    background-color: white;
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 0;

}
header {
   
    width: auto;
    height: 799px;
  filter: saturate(1.5);
    background: url(pinkclouds1.jpg), lightgray 50% / cover no-repeat;
}
.navbar {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);

    color: #fff;
    padding: 10px 0;
    transition: top 0.3s;

}

.navbar button {
    background: none;
    border: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    display: none;
}


.navbar-links {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.navbar a {
    color: #fff; 
    font-weight: 700;
   
    text-decoration: none;
    padding: 10px 20px;
}

.nav-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-left: auto;
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}

.nav-icon:hover{
    fill: white;
    
    border-color: #f1ff5c;
    
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    
    transform: translateY(-.25em);
    
    cursor: pointer;
}
.headtitle {

    width: 351px;
    height: 187px;
  position: relative;  
  top: 325px;
  left: 133px;
    display: inline-block;
    
    color: rgba(248, 163, 157, 0.81);

font-family: Montserrat;
font-size: 4rem;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.subhead1 {
    position: relative;
   
    display: block;
    color: white;
    text-align: center;
    font-family: Montserrat;
    font-size: 2rem;
    font-style: italic;
    font-weight: 800;
    line-height: normal;
}
.subhead2 {
    position: relative;
    display: block;
    text-align: center;
    color: white;
    font-family: Montserrat;
    font-size: 40px;
    font-style: italic;
    font-weight: 800;
    line-height: normal;
}
article {
    display: flex;
    height: 214px;
flex-shrink: 0;
background: #FFF;
}
article div {
    width: 100%;
    margin: 40px 5%;
    border-radius: 30px;
    /* background: rgb(248, 163, 157); */
    background: linear-gradient(106.5deg, rgba(255, 215, 185, 0.91) 23%, rgba(223, 159, 247, 0.8) 93%);

    
}
button{
    background: none;
    color: #ffa260;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    /*transition: all 0.25s; Can do here but not usually recomnened*/
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}



.video-container { 
    top: 500px;
    position: relative;
    width: 100%;
    max-width: 800px; /* Adjust the width as needed */
}

video {
    width: 100%;
    height: auto;
}

.making {
   
 display: flex;

height: 725px;
background: #FFF;

align-items: center;
justify-content: center;

flex-wrap: wrap;
}

.Making-Title {
width: 100%;
    display: inline-block;
   position: relative;
   /* bottom: 280px; */
   color: #012A36;

text-align: center;
font-size: 32px;
font-style: normal;
font-weight: 800;
line-height: normal;    

}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 20px;
    cursor: pointer;
}

.finalsect {
height: 1005px;
margin: 40px 15%;
background: rgba(248, 163, 157, 0.81);
display: flex;
justify-content: center;
flex-wrap: wrap;

}

.finalhead {
width: 100%;
    color: #9A031E;

text-align: center;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.card {

width: 551px;
height: 706px;
display: flex;
flex-wrap: wrap;
justify-content: center;
border-radius: 36px;
background: #FFF;

box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}
.cardtitle {
    width: 100%;
    margin-top: 5%;
    color: #000;
text-align: center;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.pc {
    width: 250px;
    height: 250px;
    object-fit: cover;
    /* background: url(pcbuild.jpg), lightgray 50% / cover no-repeat; */
}

body {
    margin: 0;
    padding: 0;

}


.content {
    padding-top: 80px; /* Adjust the padding top to accommodate the fixed navbar */
}

.section {
    display: flex;
    height: auto;
    background-color: #f2f2f2;
    text-align: center;
    font-size: 24px;
    line-height: 600px;
    justify-content: space-between;
    
}
.Jinx {
    margin-left: 70%;
}

.player {
    aspect-ratio: 16/9;
    width: 800px;
    margin: 0;
    /* position: relative;
    top: 500px; */
    
}
@media screen and (max-width: 768px) {
    .making {
     
    }
    .header { 
        
        
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 25%;
    }
    .headtitle {
        width: 100%;

    }
    .Making-Title {
        font-size: 20px;
    }
    .player {
        width: 600px;
    }
}
@media screen and (max-width: 630px) {
    body {
         background: rgba(248, 163, 157, 0.81);
    }
    .header { 
  
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 25%;
        flex-wrap: wrap;
    }
    .headtitle {
        width: 50px;
        font-size: 4rem;
        top: 250px;
        left: 25%;
        right: 25%

    }

    .navbar {
        display: flex;
        align-items: right;
        width: 100%;
    }
    article {
        background: white;
        display: flex;
        align-items: center;
        justify-content: center;
       
    }
    article div {
        background-color: white !important;
        margin: 0px;
        height: 70px;
        width: 400px;
    }
    .subhead1 {
        font-size: 1.5rem;
    }
    .subhead2 {

        font-size: 1.5rem;
    }

    div a {
        /* display: none; */
    }
    .making {
        margin-top: 100px;
        display: block;
        height: 450px;
    }
    .Making-Title {
        margin-top: 40px;
        font-size: 20px;
    }
    .player {
        aspect-ratio: 16/9;
        width: 100% !important;
        margin-top: 60px;
        margin-bottom: 60px;
        
    }
    .section {
        width: 100%;
    }
    .Max {
      position: relative;
       bottom: 50px;
       right: 100px;

    }
    .Jinx {
      position: relative;
        margin-left: 0;
        bottom: 50px;
        left: 100px;

    }

    
}
